body {
  background: linear-gradient(120deg, #ff9a9e, #fad0c4);
  background-size: 300% 300%;
  animation: gradientBG 10s ease infinite;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
